.sc-content{
    margin-top: 0;
}
.sc-content{
    height: 1380px;
}
.list-lb-bg-box>div{
    width: 201px;
    height: 164px;
    margin: 20px 0 0 12px;
}
.list-lb-bg{
    position: relative;top: -10px;
}
.list-lb-bg-box{
    width:228px;height: 732px;position: relative;top: 84px;left: 29px;
}