#footer{
    clear: both;
    position: relative;
    top: 15px;
}
body{
    font-size: 12px;
    color: #333;
    background: #f5f5f5;
}
#nav .navul .navli5 a{
    background: -webkit-linear-gradient(0deg, #86abee, #d9e3f5);
    background: -o-linear-gradient(0deg, #86abee, #d9e3f5);
    background: -moz-linear-gradient(0deg, #86abee, #d9e3f5);
    background: linear-gradient(0deg, #86abee, #d9e3f5);
    color: #1e50ae;
}
.EC-box{
    height: 1060px;
    float: left;
}
.EC-left{
    width: 890px;
    background: white;
}
.EC-right{
    width: 300px;
    margin-left: 10px;
}
.EnglishCoa h3{
    text-align: center;
    font-size: 24px;
    margin-top: 40px;
}
.EC-title{
    font-size: 14px;
    color: #666;
    text-align: center;
    height: 70px;
    width: 890px;
    line-height: 70px;
}
.EC-title span{
    margin: 0 20px;
}
.EC-title img{
    margin-left: 10px;
    position: relative;top: 3px;
}
.EC-Article p{
    /*兼容IE两段对齐*/
    text-justify:inter-ideograph;

    /*兼容IE两段对齐*/
    text-align: justify;
    line-height: 25px;
    text-indent: 28px;
    color: #666;
    font-size: 14px;
}
.EC-AC-box{
    width: 790px;
    height: auto;
    padding: 0 50px;
}
.EnglishCoa h5{
    text-indent: 28px;
    font-size: 16px;
    line-height: 25px;
    margin-top: 16px;
}
.EC-text span{
    font-size:16px;
    font-style:oblique
}
.EnglishCoa .EC-paging{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
/*右边样式*/
.EC-right1{
    width: 300px;
    height: 525px;
    background: white;
    box-sizing: border-box;
    border: 1px solid #dedede;
}
.EC-right2{
    width: 300px;
    height: 525px;
    background: white;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #dedede;
}

.EC-rt1{
    height: 39px;border-bottom: 1px solid #dedede;line-height: 39px;font-size: 16px;color: #29b1eb;
}
.EC-rt1>div{
    width: 4px;height: 20px;background: #29b1eb;margin-top: 10px;margin-left: 10px;margin-right: 5px;float: left;
}


.EC-right1 img,.EC-right2 img{
    margin: 10px 0 0 10px;
}
.EC-right1 p a:link,.EC-right2 p a:link{
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
.EC-right1 p,.EC-right2 p{
    line-height: 27px;
    text-indent: 10px;
}
.EC-right1 p a:visited,.EC-right2 p a:visited{
    text-decoration: none;
    color: #333;
}
.EC-right1 p a:hover,.EC-right2 p a:hover{
    text-decoration: underline;
    color: #1E4FAD;
}

.EC-right1 p span,.EC-right2 p span{
    font-size: 12px;
    color: #666;
    margin-right: 10px;
    float: right;
}