.navli4{
    border: none;
}
#nav .navul .navli4 a{
    background: -webkit-linear-gradient(0deg, #86abee, #d9e3f5); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(0deg, #86abee, #d9e3f5); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(0deg, #86abee, #d9e3f5); /* Firefox 3.6 - 15 */
    background: linear-gradient(0deg, #86abee, #d9e3f5);
    color: #1e50ae;
}