.content-right-abtxtt{
    height: 1422px;
}
#content{
    height: 1540px;
}
.anav-3{background: transparent}
.anav-10{  background: #44baf7;  }
#footer{
    clear: both;
}
.content-right-abtxtt{
    height: 1002px;
}