.content-rbox{
    margin: 30px auto 0 auto;
    width: 985px;
    height: 475px;
    background: #FCE284;
    border: 2px solid #797979;
    border-radius: 6px;
    position: relative;
}
.content-rbox2{
    margin: 15px auto 0 auto;
    width: 985px;
    height: 475px;
    background: #FF2B2C;
    border: 2px solid #797979;
    border-radius: 6px;
    position: relative;
}
.newstudent,.studentask,.proposal{
    width: 238px;
    height: 42px;
    position: absolute;
    top: -35px;
    left: 400px;
}
.proposal{
    top: -24px;
}
.newstudent{
    background: url("../../../static/xwyz/images/say_title01.png");
}
.studentask{
    background: url("../../../static/xwyz/images/say_title02.png");
}
.proposal{
    background: url("../../../static/xwyz/images/say_title03.png");
}
.content-right-nright{
    width: 445px;
    height: 404px;
    margin-top: 50px;
    float: right;
    border: 1px solid #cccccc;
    background: white;
    margin-right: 10px;
}
.content-right-nright p{
    width: 432px;
    height: 90px;
    margin: 9px;
    line-height: 18px;
}
.content-right-nright-ask{
    color: #656565;
}
.content-right-nright-answer{
    color: #333;
}
.content-right-nright-ip{
    text-align: right;
    margin-right: 17px;
    color: #333333;
}
.content-right-nright hr{
    width: 400px;
    margin: 8px auto;
    height: 0;
    border-bottom: 1px solid #cccccc;
}

.content-right-nleft-says,.content-right-nleft-answer{
    width: 145px;
    height: 30px;
    line-height: 30px;
    text-indent: 1.5em;
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
}
.content-right-nleft-says{
    background: url("../../../static/xwyz/images/ac_title.png");
}
.content-right-nleft-answer{
    background: url("../../../static/xwyz/images/ac_title02.png");
}
.content-right-nleft{
    width: 530px;
    margin-left: 10PX;
    margin-top: 20px;
}
.content-right-nleft textarea{
    width: 485px;
    height: 130px;
    padding: 10px 10px;
    margin-top: 0;
    resize: none;
    box-shadow: 1px 1px 4px #ccc inset;
    text-align: left;
    color: #333;
}
.content-right-nleft-btns{
    text-align: right;
    width: 505px;
    margin:7px 10px 0 0;
}
.content-right-nleft-btns button{
    width: 94px;
    height: 28px;
    border-radius: 4px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #999;
    background: #f1f1f1;
}
.content-right-nleft-btns .save{
    margin-right: 15px;
}
.content-right-nleft-btns button:hover{
    background: #FFFFFF;
}
/*中间部分*/
.content-right-box{
    height: 554px;
}
.content-right-box-title-bg {
    height: 510px;
}
.content-right-text-box2 {
    height: 510px;
}

/*获奖者*/
.win_title{
    width: 208px;height: 40px;margin: 10px auto 0 auto;border-radius: 4px;background: #1ba3e2;
    color: white;font-size: 16px;text-align: center;line-height: 40px;
    letter-spacing: 2px;
}
.win_box{
    width: 250px;
    height: 208px;
    margin-top: 10px;
    background: white;
}
.win_box img{
    margin: 5px 0 3px 6px;
}
.win_text{
    width: 241px;
    height: 30px;
    text-align: center;
    line-height: 22px;
    margin: 0 auto;
    font-size: 18px;
    letter-spacing: 2px;
}