.content-right-box{  height: 540px;  }
.content-right-box-title-bg{  height: 480px;  }
.content-right-text-box2{  height: 480px;  }
.show_t{margin: 20px auto 14px auto;  }
.morets{  position: relative;  width: 970px;  text-align: right;  }
.morets a{  color: #1b8bea;  font-size: 12px;  position: absolute;  top: -24px;  right:2px  }
.le{  letter-spacing: 0;  }

.win_title{
    width: 208px;height: 40px;margin: 20px auto 0 auto;border-radius: 4px;background: #1ba3e2;
    color: white;font-size: 16px;text-align: center;line-height: 40px;
    letter-spacing: 2px;
}
.win_box{
    width: 247px;
    height: 207px;
    margin-top: 11px;
    background: white;
    position: relative;
    top: 75px;
    left: 16px;
}
.win_box img{
    margin: 0 0 3px 7px;
}
.win_text{
    width: 241px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    font-size: 16px;
    color: #333333;
    letter-spacing: 2px;
}
.morets{
    position: relative;
    width: 846px;
    text-align: right;
}
.morets a{
    color: #F0DC00;
    font-size: 12px;
    position: absolute;
    top: -18px;
    right:2px
}