select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../../../static/xwyz/images/sj.png") no-repeat scroll 95% center transparent;
    padding-right: 14px;
}
select::-ms-expand { display: none; }
option{
    background: white;
    border: 1px solid #ccc;
}
.left-li4{
    color: #158DD8;
}
.anav-1{
    background: #44baf7;
}